name: Build

on:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: write
  pull-requests: write

jobs:
  generate:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-24.11
      - name: Cache
        uses: nix-community/cache-nix-action@v6
        with:
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          restore-prefixes-first-match: nix-${{ runner.os }}-
          gc-max-store-size-linux: 1G
          purge: true
          purge-prefixes: nix-${{ runner.os }}-
          purge-created: 0
          purge-primary-key: never
      - name: Run build
        uses: workflow/nix-shell-action@v3.4.0
        continue-on-error: true # TODO: Not entirely sure why this fails even if the commands succeed?
        with:
          flakes-from-devshell: true
          script: |
            yes | pebble build
      - name: Upload build
        uses: actions/upload-artifact@v4
        with:
          name: pebble-app
          path: build/PebbleTimeGear.pbw
          if-no-files-found: error
